---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <Header />
  <Hero />
  
  <div class="flex flex-wrap gap-8 p-16">
    <div class="w-96 h-64 bg-slate-200"></div>
    <div class="w-96 h-64 bg-slate-200"></div>
    <div class="w-96 h-64 bg-slate-200"></div>
    <div class="w-96 h-64 bg-slate-200"></div>
    <div class="w-96 h-64 bg-slate-200"></div>
    <div class="w-96 h-64 bg-slate-200"></div>
    <div class="w-96 h-64 bg-slate-200"></div>
    <div class="w-96 h-64 bg-slate-200"></div>
    <div class="w-96 h-64 bg-slate-200"></div>
    <div class="w-96 h-64 bg-slate-200"></div>
    <div class="w-96 h-64 bg-slate-200"></div>
    <div class="w-96 h-64 bg-slate-200"></div>
  </div>
</BaseLayout>
